@import "tailwindcss";

html {
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-300);
}

.custom-scroll::-webkit-scrollbar {
  width: 3px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: var(--color-neutral-900);
  border-radius: 1px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-800);
  border-radius: 1px;
  border: 0.5px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-neutral-700);
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--color-neutral-800) var(--color-neutral-900);
}
